.landing{
    background:url(https://4kwallpapers.com/images/wallpapers/planet-earth-night-view-illuminated-orbit-dark-background-5k-2560x1440-8934.jpg);
    
    background-position: center;
    background-size: cover;
    height: 48.5rem;
    padding: 5rem;
    background-repeat: no-repeat;


}

/* .center{

    justify-content: center;
    align-items: center;
} */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}




.title_landing{
    font-family: 'Liberty';
        font-weight: 100;
        font-size: 7rem;
       
        flex-flow: row;
        color: #cbb6b6;
        text-shadow: 0 0 2rem #c020dd;
        display: inline-block;

}

